
<%- include layouts/header.ejs %>    
 


<!--
including footer content which is common for all pages
-->

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- LOGIN FORM -->
    <form action="/users/list" method="post">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome">
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" name="senha">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    
</div>

</div>

<%- include layouts/footer.ejs %>